################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataMigrationTool/log
/DataMigrationTool/module/config.json
/DataMigrationTool/node_modules
/DataMigrationTool/.ntvs_analysis.dat
/json1.json
/json2.json
/DataMigrationTool/jsonData
/json3.json
/json4.json
